.education{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3em;
}

.education h2 {
    color: $primcolor;
    font-size: 2.7em;
    font-weight: 800;
}

.education .card {
    background-color: transparent !important;
    height: 100% !important;
    border: none !important;
}

.education .card-title mark {
    color: $seccolor;
    background-color: $primcolor !important;
}

.education .card-text mark {
    color: $seccolor;
    background-color: $thdcolor !important;
}

.education .more {
    width: 100%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    transition: opacity .5s;
    opacity: 0;
}

.education #morebtn{
    width: fit-content;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 1.5em;
    color: $morebtncolor;
    text-decoration: underline $primcolor;
}