.intro {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 8em;
}
.intro h1 {
    font-weight: 800;
    font-size: 5em;
}

.intro h3 {
    font-size: 1.8em;
}

.intro .resume {
    margin: 2em 0;
}

.intro .resume a {
    text-decoration: none;
    background-color: white;
    color: $primcolor;
    font-weight: 800;
}