.projects{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3em;
}

.projects h2 {
    color: $primcolor;
    font-size: 2.7em;
    font-weight: 800;
}

.projects .card {
    background-color: transparent !important;
    border: none;
}

.projects .card-title mark {
    color: $morebtncolor !important;
    background-color: $seccolor !important;
}

.projects .card-text mark {
    color: $morebtncolor !important;
    background-color: $seccolor !important;
    line-height: 1em !important;
    border: 1px solid $morebtncolor !important;
}

.projects .card-footer {
    background-color: transparent !important;
    border: none;
    padding-top: 0;
}

.projects .card-footer mark {
    color: $morebtncolor !important;
    background-color: $seccolor !important;
}

.projects .more {
    width: 100%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    transition: opacity .5s;
    opacity: 0;
}

.projects #morebtn{
    width: fit-content;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 1.5em;
    color: $morebtncolor;
    text-decoration: underline $primcolor;
}