.projectlinks{
    padding: 1em 0 !important;
}

.projectlinks button{
    background-color: $primcolor;
    color: $seccolor;
    border: none;
    margin: 0em .4em;
}

.projectlinks button:hover{
    background-color: $thdcolor;
}

.projectlinks button:focus{
    background-color: $primcolor;
    color: $seccolor;
    border: none;
    outline: 0;
}