.skills{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3em;
}

.skills h2 {
    color: $primcolor;
    font-size: 2.7em;
    font-weight: 800;
}

.skills .card {
    background-color: transparent !important;
    border: none;
}

.skills .card-title mark {
    color: $thdcolor;
    background-color: transparent !important;
}

.skills .card-text mark {
    color: $primcolor;
    background-color: transparent !important;
}

.skills .more {
    width: 100%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    transition: opacity .5s;
    opacity: 0;
}

.skills #morebtn{
    width: fit-content;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 1.5em;
    color: $morebtncolor;
    text-decoration: underline $primcolor;
}