body {
    width: 100%;
    color: $primcolor !important;
    background-color: $seccolor !important;
    font-family: $primfont !important;
    position: absolute;
    overflow-x: hidden !important;
}
